body {
  font-family: "Roboto", sans-serif;
  color: hsl(0, 0%, 16%);
  background-color: hsl(0, 0%, 100%);
  margin: 0;
  box-sizing: border-box;
}

.nav {
  background-color: red;
}

.container-logo {
  width: 40%;

  @media (min-width: 768px) {
    width: 50%;
  }
}

.ext-logo {
  display: block;
  max-width: 100%;
  height: auto;
  height: 22px;
  width: 96px;
  padding: 20px 10px;
  margin: 0 auto;

  @media (min-width: 425px) {
    width: 192px;
    height: 44px;
    padding: 20px 20px;
  }

  @media (min-width: 768px) {
    width: 288px;
    height: 65px;
    padding: 30px 30px;
  }
}
