body {
  font-family: "Roboto", sans-serif;
  color: hsl(0, 0%, 16%);
  background-color: hsl(0, 0%, 100%);
  margin: 0;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;

  @media (min-width: 425px) {
    height: 20vh;
  }
}

.ext-logo {
  display: block;
  max-width: 100%;
  height: auto;
  height: 22px;
  width: 96px;

  @media (min-width: 425px) {
    width: 192px;
    height: 44px;
  }

  @media (min-width: 768px) {
    width: 288px;
    height: 65px;
  }
}

.contact-link {
  &-header {
    font-size: 1rem;
    font-weight: 700;
    padding: 4px 8px;
    background-color: rgb(30, 141, 226);
    color: rgb(255, 255, 255);

    @media (min-width: 425px) {
      font-size: 1.25rem;
      padding: 8px 16px;
    }

    @media (min-width: 768px) {
      font-size: 1.5rem;
      padding: 16px 32px;
    }

    &:hover {
      background-color: rgb(30, 141, 210);
      text-decoration: none;
    }
  }

  &-footer {
    font-size: 1rem;
    font-weight: 700;
    padding: 4px 8px;
    background-color: rgb(30, 141, 226);
    color: rgb(255, 255, 255);
    
    @media (min-width: 425px) {
      font-size: 1.25rem;
      padding: 8px 16px;
    }

    @media (min-width: 768px) {
      font-size: 1.5rem;
      padding: 16px 32px;
    }

    &:hover {
      background-color: rgb(30, 141, 210);
      text-decoration: none;
    }
  }
}

.footer-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  background-color: rgb(200, 200, 200);

  @media (min-width: 425px) {
    height: 20vh;
  }
}
